@media screen and (max-width: 1000px){
    header {
        padding: 30px;
      }
      .form {
        height: 200%;
      }
      input[type="email"],
      [type="text"],
      [type="password"] {
        width: 105%;
        padding: 35px;
        margin-bottom: 40px;
        font-size: 40px;
      }
      h2 {
        display: none;
      }
      .form-tittle {
        display: none;
        font-size: 20px;
      }
      .container-over {
        height: 200%;
      }
      .container-input {
        width: 500px;
      }
      .btnPassword {
        position: relative;
        right: 0;
        bottom: -100px;
      }
      h1 {
        margin-top: 200px;
        position: relative;
        font-size: 100px;
      }
      .ready {
        font-size: 0px;
      }
      .logo img {
        height: 150px;
        width: 150px;
      }
      input {
        width: 200px;
      }
      .login input[type="submit"] {
        width: 250px;
        height: 80px;
        font-size: 2rem;
      }
      .btn {
        padding: 3.0rem;
        font-size: 2rem;
      }
      img {
        height: 100px;
        width: 100px;
      }
      span{
        font-size: 40px;
      }
      .dropdown {
        left: 10px;
        bottom: 27px;
      }
}
