:root {
  /* --black: black;
  --gray: #1e1e1e;
  --red: #e50914; */
  --lightRed: #f2242e;
}

/* * {
  margin: 0;
  padding: 0;
}

body,
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
} */

/* input,
button,
select {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
} */

/* button {
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
} */

/*input::placeholder {*/
/*  color: rgb(218, 218, 218);*/
/*}*/

/*.container {*/
/*  width: 100%;*/
/*  margin-top: auto;*/
/*}*/

/*.container:first-child {*/
/*  width: 100%;*/
/*  margin-top: 35px;*/
/*}*/

/*.header {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0px;*/
/*  width: 100%;*/
/*  padding-top: 42px;*/
/*  padding-bottom: 42px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  background-color: rgb(32, 32, 32);*/
/*  font-size: 18px;*/
/*  z-index: 99;*/
/*}*/

/*#title_menu {*/
/*  width: 750px;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  z-index: 4;*/
/*}*/

/*#title_menu div a {*/
/*  color: white;*/
/*}*/

/*#title_menu div,*/
/*a {*/
/*  padding: 13px;*/
/*  border: transparent 2px solid;*/
/*  border-radius: 25px;*/
/*  transition: 0.2s;*/
/*}*/

/*#title_menu div:hover {*/
/*  opacity: 0.4;*/
/*  transition: 0.1s;*/
/*}*/

/*#title_menu div:active {*/
/*  scale: 0.7;*/
/*  transition: 0.1s;*/
/*}*/

/*.genres {*/
/*  cursor: pointer;*/
/*}*/

/* выпадающие списки из header */

/* .list_Hetflix {
  width: 200px;
  position: absolute;
  top: -400px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.animHetflix {
  animation: openlist 0.8s forwards;
}
@keyframes openlist {
  0% {
    top: -400px;
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    top: 115px;
    opacity: 1;
  }
}

.closeAnimHetflix {
  animation: closelist 0.5s forwards;
}
@keyframes closelist {
  0% {
    top: 115px;
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

.in_Hetflix {
  border: white 2px solid;
  border-radius: 15px;
  padding: 3px 5px 3px 5px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.759);
  text-align: center;
}

.list_Hetflix li:hover {
  background-color: rgba(0, 0, 0, 0.474);
  cursor: pointer;
}

.list_Home {
  position: absolute;
  left: 230px;
}

.list_Film {
  position: absolute;
  left: 325px;
}

.list_Popular {
  position: absolute;
  left: 467px;
}

.list_My {
  width: 400px;
  position: absolute;
  left: 512px;
  display: flex;
  align-items: center;
}

.list_My li {
  width: fit-content;
  padding: 2px 10px 2px 10px;
} */

/*.user_menu {*/
/*  width: 33%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  gap: 8px;*/
/*  align-items: center;*/
/*  margin-right: 20px;*/
/*}*/

/* #searchButton {
  width: 25px;
  height: 25px;
} */

/*.search,*/
/*.user {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*}*/

.bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.708);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
}

.modal-win {
  width: 900px;
  height: 600px;
  border: black 1px solid;
  background-color: rgba(0, 0, 0, 0.929);
  position: fixed;
  top: 100px;
  left: calc(50% - 450px);
  overflow: hidden;
  display: flex;
  box-shadow: 0px 0px 28px 4px #000000;
  z-index: 110;
}

.modal-content {
  width: 460px;
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.poster {
  width: 400px;
  height: 100%;
}

iframe {
  width: 100%;
  height: 280px;
  border: none;
}

.button-close {
  width: 25px;
  height: 25px;
  background-image: url(../img/close-button.png);
  background-size: 100% 100%;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.2s;
}

.button-close-li {
  width: 15px;
  height: 15px;
  background-image: url(../img/close-button.png);
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 5px;
  transition: 0.2s;
}

.button-add {
  width: 25px;
  height: 25px;
  background-image: url(../img/add-button.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: 0.2s;
}

.button-add:hover,
.button-close-li:hover,
.button-close:hover {
  scale: 0.9;
  transition: 0.1s;
}

.button-add:active,
.button-close-li:active,
.button-close:active {
  scale: 1.1;
}

.bgModalWindov {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.377);
}

.bg2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.708);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.box-search {
  width: 250px;
  height: 400px;
  border: black 1px solid;
  background-color: rgba(0, 0, 0, 0.577);
  margin: 30px 0 30px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.1s;
}

.box-search:hover {
  scale: 1.01;
  transition: 0.3s;
}

.poster-in-box {
  width: 100%;
  height: 350px;
}

.title-in-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.close-box-search {
  width: 25px;
  height: 25px;
  background-image: url(../img/close-button.png);
  background-size: 100% 100%;
  position: fixed;
  top: 5px;
  right: 5px;
}

.close-box-search:hover {
  scale: 0.9;
  transition: 0.3s;
}

.box-button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.page-buttons {
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border: white 2px solid;
  border-radius: 5px;
  background-color: rgb(67, 67, 67);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-buttons:hover {
  background-color: black;
}

.page-buttons:active {
  scale: 0.9;
}
/* __ id logo */
/*.logo img {*/
/*  margin-left: 10px;*/
/*  margin-top: 10px;*/
/*  height: 80px;*/
/*}*/
span{
  color: #ffffff;
}
#user-info {
  padding-bottom: 10px;
  margin-bottom: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.user {
  position: absolute;
  top: 12px;
  right: 50px;
  z-index: 200;
}
.dropdown {
  position: relative;
  bottom: 5px;
  padding: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-bottom: 5px;
  left: 0px;
  margin: 5px;
  font-size: 18px;
  min-width: 100px;
}
.dropdown:hover .dropdown-content{
  display: block;
  position: absolute;
  right: 5px;
}
a:hover{
  color: var(--lightRed);
}
.username {
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}
.userIcon {
  position: relative;
  top: 8px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  margin-right: 6px;
}
